@model WebAppCom.Models.Product

@{
    ViewData["Title"] = "Imagenes";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddImagenes" asp-route-id="@Model.ProductId" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
            <input type="hidden" asp-for="ProductId" />

            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">Nueva Imagen</label>
                <div class="input-group mb-2">
                    <div class="custom-file mb-3">
                        <input type="file" class="custom-file-input" name="file">
                        <label class="custom-file-label" for="validatedCustomFile">Seleccione una Imagen</label>
                    </div>
                </div>
                <input type="submit" value="Agregar" class="btn btn-primary">
            </div>
        </form>

        <div class="alert-warning text-center" role="alert">
            <h5>@ViewBag.empMessenger</h5>
        </div>
    </div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}